@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url("https://fonts.googleapis.com/css?family=Allura");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  outline: none;
  list-style: none;
}

body {
  color: #191514;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden !important;
  font-family: 'Poppins', sans-serif;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.main-img-bg {
  height: 600px;
}


.border-2px {
  border: 2px solid #000;
  padding: 10px 12px;
  margin: 10px;
}


@media screen and (max-width: 767px) {
  .rem {
    display: none !important;
  }

  .none {
    display: none !important;
  }

  .below {
    display: none !important;
  }

  #second-part {
    display: none !important;
  }

  #iconss {
    display: none !important;
  }

  .mouse-cursor {
    display: none !important;
  }

  .nav-scroll {
    top: -56px !important;
  }

}

.chars {
  color: white;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}


.navbar .container {
  margin-left: 0px !important;
  margin-right: 0px !important;
}


@media (min-width:1200px) {
  .navbar .container {
    max-width: 97vw;
  }
}

#index-form {
  display: block;

  width: 100%;
  background-color: white;
}

@media screen and (min-width:768px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .align {
    text-align: center;
  }

  .padd {
    padding-top: 0px !important;
  }

  #first-part {
    display: none !important;
  }

  .flex div {
    width: 50%;
  }

  .height250px {
    height: 383px;
    width: 500px;
    object-fit: cover;
  }
}



/* ====================== [ Start Text Animation & Images ] ====================== */

.splitting.animated .char {
  animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation-delay: calc(30ms * var(--char-index));
}

.splitting .whitespace {
  width: 10px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;

    transform: translateY(20px);
  }

  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;

    transform: translateY(20px);
  }

  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

.splitting.txt.animated .char {
  animation: fadeIn 0.3s cubic-bezier(0.3, 0, 0.7, 1) both;
  animation-delay: calc(10ms * var(--char-index));
}

.splitting.txt .whitespace {
  width: 5px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.imago {

  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -o-transition: all .8s;
  transition: all .8s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.imago.animated {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


/* ====================== [ Start Heading ] ====================== */
.section-head {
  position: relative;
  margin: 0 auto 80px;
}

.section-head h4 {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 2px;
  color: #FFF
}

.section-head h6 {
  color: #b19777;
  font-weight: 300;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.sub-title {
  color: #b19777;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  padding-left: 60px;
  letter-spacing: 4px;
  margin-bottom: 15px;
  position: relative;
}

.sub-title:before {
  content: "";
  width: 50px;
  height: 1px;
  background: #b19777;
  position: absolute;
  left: 0;
  top: 50%;
}

.extra-title {
  font-weight: 700;
}

.tit h6 {
  color: #b19777;
  font-weight: 400;
  font-size: 22px;
}

.tit h3 {
  font-weight: 700;
  margin-bottom: 20px;
}

.tit .navs span {
  padding: 15px 30px;
  background: #f8f4f3;
  cursor: pointer;
}

.tit .navs span:hover {
  background: #b19777;
  color: #fff;
}

.sm-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* ====================== [ End Heading ] ====================== */
/* ====================== [  Start Button Style ] ====================== */
.btn-curve {
  background: transparent;
  padding: 12px 35px;
  border: 1px solid #1e1e1e;
  font-family: 'Teko', sans-serif;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn-curve:focus {
  outline: none;
}

.btn-curve:hover {
  outline: none;
}

/* .btn-curve:hover:after {
  bottom: -30px;


  transform: rotate(0deg);
} */

.btn-curve:hover span {
  color: #fff;
}

/* .btn-curve:after {
  content: '';
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: 130%;
  background: #1e1e1e;

  transform: rotate(-5deg);

  /* -o-transition: all .8s; */
  /* transition: all .8s; 
} */

.btn-curve span {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;

  /* -o-transition: all .8s; */
  /* transition: all .8s; */
}

.btn-curve.btn-lit {
  border-color: #fff;
  color: #fff;
}

/* .btn-curve.btn-lit:hover span {
  color: #b19777;
} */

.btn-curve.btn-lit:after {
  background: #fff;
}

.btn-curve.btn-blc {
  background: #1e1e1e;
}

.btn-curve.btn-blc:after {
  background: #fff;
}

.btn-curve.btn-blc span {
  color: #fff;
}

.btn-curve.btn-blc:hover span {
  color: #1e1e1e;
}

.btn-curve.btn-color {
  background: #b19777;
  border-color: #b19777;
}

.btn-curve.btn-color:after {
  background: #fff;
}

.btn-curve.btn-color span {
  color: #fff;
}

/* .btn-curve.btn-color:hover span {
  color: #b19777;
} */

.btn-curve.btn-lg {
  padding: 14px 40px;
}

.btn-curve.btn-lg span {
  font-size: 14px;
}

/* ====================== [ End Button Style ] ====================== */

.cont {
  color: white;
}

.pages-header {
  height: 75vh;
}

.pages-header .cont h1 {
  font-size: 55px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.pages-header .cont .path {
  color: #fff;
  font-size: 17px;
}

.pages-header .cont .path .active {
  color: #b19777;
}

.pages-header .cont .path span {
  margin: 0 20px;
  font-size: 10px;
}

/* ====================== [ Start tabs before & after section ] ====================== */
.after-before {
  position: relative;
  color: #fff;
}

.after-before .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
}

.after-before .dotsbg {
  position: relative;
}

.after-before .dotsbg:after {
  display: none;
  content: '';
  background-image: url(..img/line-pattern1.png);
  background-repeat: repeat;
  position: absolute;
  bottom: -60px;
  left: 10%;
  right: 10%;
  height: 40%;
  z-index: -1;
}

/* ====================== [ End contact ] ====================== */

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-screeen {
  height: 100vh;
  display: flex;
  background: url(..img/slid/77.jpg);
  background-position: bottom;


}

.main_nav {
  max-width: 390px;
  position: relative;
  transform: translate(0, -60px);




}







.main_nav li a {

  background-color: #a3a1a1;
  color: #000;
  padding: 10px;
  margin: 15px;
  display: block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
  position: relative;


  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.7);


  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}



.main_nav li::after {

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;

  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main_nav li:hover {

  transform: scale(1.25, 1.25);
}

.main_nav li::after {
  opacity: 1;
}

.main_nav li a:before {
  position: absolute;
  height: 100%;
  width: 0;
  background: #fff;
  content: "";
  transition: all .3s;
  left: 0;
  top: 0;

}

.main_nav li:hover a:before {
  width: 100%;

  border: 1px solid #e8e8e8;


}

.main_nav li a span {
  transform: translate(-50%, -300%);
  transition: transform .3s;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;

}

.main_nav li a:hover span {
  transform: translate(-50%, -50%);



}

.main_nav .logo {
  position: absolute;
  bottom: -140px;
  left: 50%;
  transform: translate(-50%, 0);


}

img {
  width: 100%;
  height: auto;
}